.container{
  display: flex;
}
.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: azure;
  margin: 80px;
  height: 74vh;
  width: 70vh;
  border: solid 1px;
  border-radius: 30px;
}

form{
  display: flex;
  flex-direction: column;
  
}

input{
  height: 25px;
  width: 30vh;
  margin: 5px 0px;
  border: gainsboro solid 1px;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
}

h1{
  position: absolute;
  margin-bottom: 335px;
}

.select{
  height: 32px;
  width: 35vh;
  margin: 5px 0px;
}